GATEWAY_PORT=443

AUTH_SERVICE_PORT=3004
CHAT_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
FRONT_SERVICE_PORT=3003

FRONTEND_URL=http://localhost:3003

DB_USER=postgres
DB_PASS=change_me
DB_NAME=postgres

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

DATABASE_URL=postgresql://postgres:change_me@postgres_db:5432/shared_db?schema=public

ELASTIC_VERSION=7.17.21
ELASTIC_SECURITY=true
ELASTIC_PASSWORD=changeme

GF_ADMIN_PASSWORD=change_me_grafana

POSTGRES_PORT=5432

INTRA42_CLIENT_ID=your_42_client_id
INTRA42_CLIENT_SECRET=your_42_client_secret
INTRA42_CALLBACK_URL=http://localhost:3004/api/auth/42/callback

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3004/api/auth/google/callback
